*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #FF5400;
    --secondary-color: rgba(19, 19, 24, 0.70);
    --font-size: 40px;
}

body{
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0px auto;
}
.title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
}

.special-style{
    color: var(--primary-color);
}

/*     style navbar    */
nav{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
nav .logo{
    display: flex;
    gap: 25px;
}
nav .logo img{
    width: 45px;
    height: 45px;
}

nav .logo h1{
    font-size: 35px;
    font-weight: 800;
}
#icon{
    display: none;
}
.nav-icon{
    float: right;
    font-size: 20px;
    display: none;
    cursor: pointer;
    color:indigo;
    position: absolute;
    left: 92%;
}

nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #424247;
    font-weight: 400;
}


/* style Banner section */ 

.banner{
    margin: 100px 0px;
    min-height: 500px;
    border-radius: 16px;
    background-image: url('images/group13.png');
    background-position: center;
    background-size: cover;
    
}
.banner .banner-content{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.banner .banner-content .headding{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner .banner-content .description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.quest-box{
    margin: 25px 0px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.4)50%,
     rgba(252, 250, 250, 0.4)50%);
    padding: 20px 30px;
    display: flex;
    gap: 30px;
}


.input,select,button{
    width: 160px;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
}
.btn-primary{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px;
    cursor: pointer;
}

/*  Style  Tour Section   */


.tours-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.tour-content{
    width: 50%;
}

.tour-point{
    margin: 10px 15px;
}
.tour-description{
    margin-top: 20px;
}
.tour-point ul li{
    padding: 5.5px 0px;
}
.tour-image{
    width: 50%;
}
.tour-image img{
    max-width: 540px;
    max-height: 550px;
}

/*   Styelw Destination section  */

.Destination-container{
    margin: 100px auto;
    width: 50%;
    text-align: center;
}

.destination-description{
    margin: 20px 0px;
}
/*
.grid-item-1{
    grid-area: grid-item-1;
}
.grid-item-2{
    grid-area: grid-item-2;
}
.grid-item-3{
    grid-area: grid-item-3;
}
.grid-item-4{
    grid-area: grid-item-4;
}
.grid-item-5{
    grid-area: grid-item-5;
}
.grid-item-6{
    grid-area: grid-item-6;
}
.grid-item-7{
    grid-area: grid-item-7;
}

.grid-area{
    display: grid;
    grid-template-areas: 
    "grid-item-1  grid-item-2  grid-item-2  grid-item-2  grid-item-2  grid-item-2"
    "grid-item-3  grid-item-3  grid-item-3  grid-item-4  grid-item-4  grid-item-5"
    "grid-item-6  grid-item-7  grid-item-7  grid-item-7  grid-item-7  grid-item-7";
    gap:30px;
}
*/

.item-1 img, .item-2 img, .item-3 img{
    width: 100%;
}
.image-item{
    margin-top: 20px;
}

.item-1{
    max-height: 300px;
    display: flex;
    gap: 25px;
}
.item-2{
    display: flex;
    gap: 25px;
}
.item-3{
    
    display: flex;
    gap: 25px;
    
}

.image-container{
    position: relative;
    
    
}
.text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 28px;
    color: white;
}
.text-overlay-2{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 28px;
    color: white;
}

.item-2 div{
    height: 286px;
}
.item-2 div img{
    height: 286px;
}

.item-3 .image-1 img{
    height: 100%;
}
.item-3 .image-2 img{
    height: 100%;
}

.item-3 .image-1{
    width: 40%;
    
}
.item-3 .image-2{
    width: 60%;
    
}


    
/*   choose sections    */

.choose-container{
    margin: 100px 0px;
}
.choose-content{
    width: 70%;
    margin: 15px auto;
    text-align: center;
}
.image-catagory img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.choose-option{
    margin-top: 50px;
}
.choose-catagory{
    display: flex;
    gap: 25px;
}
.catagory-title, .newsletter-title{
    margin: 20px 0px 10px 0px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.catagory-1{
    width: 50%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.catagory-2{
    width: 50%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.catagory-3{
    margin: 25px auto;
    width: 50%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
/*   Style   Newsletter  */

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

form{
    padding: 0px 30px;
    width: 80%;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
form .description{
    margin: 23px 0px;
}

form .form-input{
    border: none;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: none;
    padding: 0px 5px;
}
.form-input::placeholder{
    font-size: 18px;
}
form #btn{
   
    background-color: var(--primary-color);
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
}
.newsleter-box{
    position: relative;
    width: 100%;
}


.travel{
    width: 50%;
    padding: 20px 0px;
    border-radius: 16px;
    background-color: var(--primary-color);
    color: #FFF;
    text-align: center;
    transform:   rotate(-20deg);
    transform-origin: bottom left;
    position: absolute;
    top: 78%;
    left: 39%;
    
}


/*  style  Footer  */

footer{
    background: rgba(19, 19, 24, 0.05);
    
}

.footer-container{
    margin-top: 100px;
    padding: 50px 0px;
    
    text-align: center;

}
.footer-container .logo img{
    width: 35px;
    height: 35px;
}

.footer-container .logo{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-container p{
    margin: 20px 0px 30px 0px;
}

h4{
    border-top: 0.5px solid rgba(19, 19, 24, 0.10);
    color: #131318;
    margin-top: 30px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 300;
}
.footer-icon{
    padding: 0px 20px;
    font-size: 30px;
}

/*   Responsive for  Mobile   */
@media screen and (max-width: 576px) {
    .container{
        margin: 50px 15px;
    }
   
    .choose-option,
    .Destination-container{
        margin: 0px;
    }
    .logo{
        align-items: center;
    }
    .logo img{
        width: 35px !important;
        height: 35px !important;
    }
    .logo h1{
        font-size: 25px !important;
    }
    /*
    nav ul li{
        display: none;
    }
    */
    nav ul{
        margin: 10px  20px;
        padding: 10px 20px;
        position: fixed;
        width: 93%;
        background: linear-gradient(to top, rgb(0, 0, 0,0.8)50%,
        rgb(0, 0, 0,0.8)50%);
        top: 75px;
        right: -5px;
        flex-direction: column;
        gap: 0px;
        border-radius: 16px;
        transition: all .5s;
        display: none;
    }
    nav ul li{
        padding: 5px 0px;
        border-bottom: 1px solid rgb(100, 94, 94);
    }
    .nav-icon{
        display: block;
        float: right;
    }

    #icon:hover nav ul{

    }

    nav ul li a{
        
        padding: 10px;
        color: #FFF;
        font-size: 18px;
    
    }
    nav ul li a:hover{
        color: yellowgreen;
    }
   
    .banner{
        padding: 30px 10px 60px 10px;
        margin: 0px;
    }
    .headding{
        font-size: 30px !important;
    }
    .item-2 div img{
        height: 286px !important;
    }
    .quest-box,
    .choose-catagory,
    .newsletter, .item-1,.item-2,.item-3{
        flex-direction: column;
    }
    .tours-container{
        flex-direction: column;
        gap: 50px;
    }

    .item-3 .image-2,.item-3 .image-1{
        width: 100%;
    }

    .newsleter-box img{
        width: 100%;
    }
    .travel{
        width: 60%;
        transform:  rotate(-20deg);
        transform-origin: bottom left;
        top: 62%;
        left: 44%;
    }

    .tour-content,
    .tour-image,
    .tour-image img,
    .catagory-1,
    .catagory-2,
    .catagory-3,
    .choose-content,
    footer,
    .newsleter-box,
    .Destination-container,
    form,
    .image-1,
    .image-2{
        width: 100%;
    }
    .title{
        font-size: 25px !important;
    }
    .description{
        font-size: 16px !important;
    }
    .btn-primary{
        padding: 12px 20px;
    }
   
}
